<div ng-include="'/angular/shared/views/home/desktop-navigation.blade.html'">
</div>
<div ng-include="'/angular/shared/views/home/mobile-navigation.blade.html'">
</div>
<!--  1 page -->
<div class="container" ng-if="!firstStepCompleted">
    <div class="row container-locum">
        <div class="col-xs-12 col-sm-2">
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="registration-locum">
                <div class="row registration-form">
                    <form name="form">
                        <div class="col-xs-12 position-registration">
                            <center>
                                <img src="../img/registration-steps-1.png">
                            </center>
                        </div>
                        <div class="col-xs-12">
                            <h1>Practice details</h1>
                                <div class="col-xs-12">
                                    <h2>General information about practice</h2>
                                </div>
                        </div>
                        <div class="col-xs-12 line-registration-locum">
                            <img src="../../img/login-line.jpg">
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-class="{'has-error': form.practice_name.$invalid, 'input-registration-locum hover-query': true}">
                                    <div class="col-xs-6 com-sm-5 input-about">
                                        <i class="fa fa-globe" aria-hidden="true"><span>Practice name </span></i>
                                    </div>
                                    <div class="col-xs-6 col-sm-7 col-md-5">
                                        <input class="name-iphone" type="text" name="practice_name" placeholder="Practice name" ng-model="user.practice_name" ng-required="true">
                                    </div>
                                    <div class="col-xs-12 text-right">
                                        <div class="row">
                                            <div ng-messages="form.practice_name.$error" role="alert">
                                                <div class="text-danger" ng-message="required">Required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-class="{'has-error': !form.practice_email.$valid, 'input-registration-locum hover-query': true}">
                                    <div class="col-xs-6 com-sm-5 input-about">
                                        <i class="fa fa-globe" aria-hidden="true"><span>Practice email </span></i>
                                    </div>
                                    <div class="col-xs-6">
                                        <input class="email-iphone" type="email" name="practice_email" placeholder="example@gmail.com" ng-model="user.practice_email" ng-required="true">
                                    </div>
                                    <div class="col-xs-12 text-right">
                                        <div class="row">
                                            <div ng-messages="form.practice_email.$error" role="alert">
                                                <div class="text-danger" ng-message="required">Required</div>
                                                <div class="text-danger" ng-message="email">Not a valid email.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-class="{'has-error': !form.practice_address1.$valid, 'input-registration-locum hover-query': true}">
                                    <div class="col-xs-7 col-sm-6 col-md-7 input-about">
                                        <i class="fa fa-map-marker" aria-hidden="true"><span>Address 1 </span></i>
                                    </div>
                                    <div class="col-xs-5 col-md-5">
                                        <input class="address-iphone" type="text" name="practice_address1" placeholder="Address 1" ng-model="user.practice_address1" ng-required="true">
                                    </div>
                                    <div class="col-xs-12 text-right">
                                        <div class="row">
                                            <div ng-messages="form.practice_address1.$error" role="alert">
                                                <div class="text-danger" ng-message="required">Required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-class="{'has-error': !form.practice_address2.$valid, 'input-registration-locum hover-query': true}">
                                    <div class="col-xs-7 col-sm-6 col-md-7 input-about">
                                        <i class="fa fa-map-marker" aria-hidden="true"><span>Address 2 </span></i>
                                    </div>
                                    <div class="col-xs-5 col-md-5">

                                        <input class="address-iphone" type="text" name="practice_address2" placeholder="Address 2" ng-model="user.practice_address2">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-class="{'has-error': !form.practice_city.$valid, 'input-registration-locum hover-query': true}">
                                    <div class="col-xs-6 com-sm-5 input-about">
                                        <i class="fa fa-home" aria-hidden="true"><span>City </span></i>
                                    </div>
                                    <div class="col-xs-6">
                                        <input class="name-iphone" type="text" name="practice_city" placeholder="City" ng-model="user.practice_city" ng-required="true">
                                    </div>
                                    <div class="col-xs-12 text-right">
                                        <div class="row">
                                            <div ng-messages="form.practice_city.$error" role="alert">
                                                <div class="text-danger" ng-message="required">Required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-class="{'has-error': !form.practice_province.$valid, 'input-registration-locum hover-query': true}">
                                    <div class="col-xs-5 col-sm-4">
                                        <i class="fa fa-building-o" aria-hidden="true"><span>Province </span></i>
                                    </div>
                                    <div class="col-xs-7 col-sm-8">
                                        <select class="select-province  select-registration" style="background-color: transparent;" name="practice_province" ng-model="user.practice_province" ng-options="c for c in countries" ng-required="true">
                                            <option value="">Select</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 text-right">
                                        <div class="row">
                                            <div ng-messages="form.practice_province.$error" role="alert">
                                                <div class="text-danger" ng-message="required">Required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-class="{'has-error': !form.postal_code.$valid, 'input-registration-locum hover-query': true}">
                                    <div class="col-xs-6 col-sm-7 col-md-6 input-about">
                                        <i class="fa fa-paper-plane-o" aria-hidden="true"><span>Postal code </span></i>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-5">
                                        <input class="name-iphone" type="text" name="postal_code" placeholder="A9A-9A9" ng-model="user.practice_postal_code" ng-required="true" ui-mask="A9A-9A9" ui-mask-placeholder ui-mask-placeholder-char="_">
                                    </div>
                                    <div class="col-xs-12 text-right">
                                        <div class="row">
                                            <div ng-messages="form.postal_code.$error" role="alert">
                                                <div class="text-danger" ng-message="required">Required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-class="{'has-error': !form.practice_phone.$valid, 'input-registration-locum hover-query': true}">
                                    <div class="col-xs-6 com-sm-5 col-md-6 input-about">
                                        <i class="fa fa-phone" aria-hidden="true"><span>Practice phone </span></i>
                                    </div>
                                    <div class="col-xs-6 col-sm-7 col-md-5">
                                        <input class='name-iphone' type="text" name="practice_phone" placeholder="+1 (999) 999-9999" ng-model="user.practice_phone" ng-required="true" ui-mask="+\1 (999) 999-9999"  ui-mask-placeholder ui-mask-placeholder-char="_">
                                    </div>
                                    <div class="col-xs-12 text-right">
                                        <div class="row">
                                            <div ng-messages="form.practice_phone.$error" role="alert">
                                                <div class="text-danger" ng-message="required">Required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-class="{'has-error': !form.practice_no_of_staff.$valid, 'input-registration-locum hover-query': true}">
                                    <div class="col-xs-7 col-sm-6 col-md-7 col-lg-6 input-about">
                                        <i class="fa fa-group" aria-hidden="true"><span>Number of Staff </span></i>
                                    </div>
                                    <div class="col-xs-5 col-sm-6 col-md-5">
                                        <input class="staff-iphone" type="number" name="practice_no_of_staff" placeholder="25" ng-model="user.practice_no_of_staff" ng-required="true">
                                    </div>
                                    <div class="col-xs-12 text-right">
                                        <div class="row">
                                            <div ng-messages="form.practice_no_of_staff.$error" role="alert">
                                                <div class="text-danger" ng-message="required">Required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-7 left-checkbox">
                            <div class="checkbox">
                                <label style="font-size: 1em">
                                    <input type="checkbox" ng-model="user.agreed" unchecked ng-required="true">
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span> <span class="text-danger">*</span><a class="terms-conditions-hover" href="/#!/terms_and_conditions"> I agree with the Terms and Conditions and Privacy <span class="policy-network-locum">Policy of Network Locum</span></a>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="registration-locum-button">
                                <button type="button" class="btn btn-danger btn-sign-in transitions" ng-click="changeToStepTwo()" ng-disabled="!form.$valid">Next</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2"></div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">X</span></button>
                <h4 class="modal-title">Email already exist</h4>
            </div>
            <div class="modal-body">
                <h3>This email is already registered!</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default transitions" data-dismiss="modal" ng-click="goToLogin()">Login</button>
            </div>
        </div>
    </div>
</div>
<!-- 2 page -->
<div class="container center-register" ng-if="firstStepCompleted">
    <div class="row container-locum">
        <div class="col-xs-12">
            <div class="row registration-form">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3"></div>
                        <div class="col-xs-12 col-sm-6">
                            <form name="form">
                                <div class="col-xs-12 position-registration">
                                    <center>
                                        <img src="../img/registration-steps-2.png">
                                    </center>
                                </div>
                                <div class="col-xs-12">
                                    <h2>Owner Details</h2>
                                    <div class="col-xs-12 ">
                                        <h6>Use the owner information when filling this form</h6>
                                    </div>
                                    <img class="custom_image" src="../../img/login-line.jpg">
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div ng-class="{'has-error': !form.name.$valid, 'input-register hover-query': true}">
                                            <div class="col-xs-5 input-about input-first-last-name">
                                                <i class="fa fa-user-o" aria-hidden="true"><span>Full name </span></i>
                                            </div>
                                            <div class="col-xs-7">
                                                <input type="text" name="name" placeholder="Full name" ng-model="user.name" ng-required="true">
                                            </div>
                                            <div class="col-xs-12 text-right">
                                                <div class="row">
                                                    <div ng-messages="form.name.$error" role="alert">
                                                        <div class="text-danger" ng-message="required">Required</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 ">
                                        <div ng-class="{'has-error': !form.email.$valid, 'input-register hover-query': true}">
                                            <div class="col-xs-6 col-sm-5 input-about">
                                                <i class="fa fa-envelope-o" aria-hidden="true"><span>Owner email </span></i>
                                            </div>
                                            <div class="col-xs-6 col-sm-7">
                                                <input class="name-iphone" type="email" name="email" placeholder="example@gmail.com" ng-model="user.email" ng-required="true">
                                            </div>
                                            <div class="col-xs-12 text-right">
                                                <div class="row">
                                                    <div ng-messages="form.email.$error" role="alert">
                                                        <div class="text-danger" ng-message="required">Required</div>
                                                        <div class="text-danger" ng-message="email">Not a valid email.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div ng-class="{'has-error': !form.password.$valid, 'input-register hover-query': true}">
                                            <div class="col-xs-5 input-about">
                                                <i class="fa fa-lock" aria-hidden="true"><span>Password </span></i>
                                            </div>
                                            <div class="col-xs-7">
                                                <input type="password" name="password" placeholder="*********" ng-model="user.password" ng-required="true">
                                            </div>
                                            <div class="col-xs-12 text-right">
                                                <div class="row">
                                                    <div ng-messages="form.password.$error" role="alert">
                                                        <div class="text-danger" ng-message="required">Required</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div ng-class="{'has-error': !form.city.$valid, 'input-register hover-query': true}">
                                            <div class="col-xs-5 input-about">
                                                <i class="fa fa-map-marker" aria-hidden="true"><span>City </span></i>
                                            </div>
                                            <div class="col-xs-7">
                                                <input type="text" name="city" placeholder="City" ng-model="user.city" ng-required="true">
                                            </div>
                                            <div class="col-xs-12 text-right">
                                                <div class="row">
                                                    <div ng-messages="form.city.$error" role="alert">
                                                        <div class="text-danger" ng-message="required">Required</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div ng-class="{'has-error': !form.postal_code.$valid, 'input-register hover-query': true}">
                                            <div class="col-xs-6 col-sm-5 input-about">
                                                <i class="fa fa-paper-plane-o" aria-hidden="true"><span>Postal code </span></i>
                                            </div>
                                            <div class="col-xs-6 col-sm-7">
                                                <input class="name-iphone" type="text" name="postal_code" ng-model="user.postal_code" ng-required="true" placeholder="A9A-9A9" type="text" ui-mask="A9A-9A9" ui-mask-placeholder ui-mask-placeholder-char="_">
                                            </div>
                                            <div class="col-xs-12 text-right">
                                                <div class="row">
                                                    <div ng-messages="form.postal_code.$error" role="alert">
                                                        <div class="text-danger" ng-message="required">Required</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12 col-sm-3"></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-3"></div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="col-xs-12 sign-up-button">
                            <button type="button" class="btn btn-danger btn-sign-in transitions" ng-click="registerPractice()" ng-disabled="!form.$valid">Register</button>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div ng-include="'/angular/shared/views/locum/footer.blade.html'">
</div>