/node_modules
/public/storage
/public/hot
/public/bower_components
/storage/*.key
/vendor
/.idea
/phpMyAdmin
Homestead.json
Homestead.yaml
.env
/bower_components
composer.lock
.vagrant/
Vagrantfile
public/phpMyAdmin/
after.sh
aliases
**.DS_Store
**composer.lock