<div ng-include="'/angular/shared/views/practice/desktop-navigation.blade.html'">
</div>
<div ng-include="'/angular/shared/views/practice/mobile-navigation.blade.html'">
</div>
<div class="container">
    <div>
        <div class="header-billing">
            <h1 class="title">Billings</h1>
            <p>Manage locum invoices.</p>
            <div class="line"></div>
        </div>
    </div>
    <div>
        <div class="col-xs-12">
            <div class="row">
                <h3>Search filters</h3>
                <p class='text-muted'>Start typing in the box and you will be shown results based on your query.</p>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="filter-in-filters">
                    <form name="billingLocumForm">
                        <div class="row find-a-job-search">
                            <div class="col-sm-1 col-md-2"></div>
                            <div class="col-xs-12 col-sm-10 col-md-8">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 search-billing">
                                        <label>Search previous billings</label>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 search-billing dont-show-status">
                                        <label>Billing status</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-1 col-md-2"></div>
                        </div>
                        <div class="row find-a-job-search">
                            <div class="col-sm-1 col-md-2"></div>
                            <div class="col-xs-12 col-sm-10 col-md-8">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="input-group input-billing">
                                            <span class="input-group-addon group-addion-changes"><i class="fa fa-search" aria-hidden="true"></i></span>
                                            <input type="text" class="form-control city-of-postcode-input" ng-model="searchTerm.locum_name" placeholder="Search by locum name">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 select-billing">
                                        <select class="form-control input-billing billing-status-mobile" name="singleSelect" id="singleSelect" ng-model="searchTerm.paid_status">
                                            <option value="">All</option> <!-- not selected / blank option -->
                                            <option ng-value="'paid'">Paid</option> <!-- interpolation -->
                                            <option ng-value="'not_paid'">Not Paid</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-1 col-md-2"></div>
                        </div>
                        <!-- labele -->
                        <!--<div class="row find-a-job-search">-->
                            <!--<div class="col-sm-1 col-md-2"></div>-->
                            <!--<div class="col-xs-12 col-sm-10 col-md-8">-->
                                <!--<div class="row">-->
                                    <!--<div class="col-xs-12 col-sm-6 col-md-6">-->
                                        <!--<label>From</label>-->
                                    <!--</div>-->
                                    <!--<div class="col-xs-12 col-sm-6 col-md-6">-->
                                        <!--<label>To</label>-->
                                    <!--</div>-->
                                <!--</div>  -->
                            <!--</div> -->
                            <!--<div class="col-sm-1 col-md-2"></div>-->
                        <!--</div>-->
                        <!-- from to  -->
                        <div class="row find-a-job-search">
                            <div class="col-sm-1 col-md-2"></div>
                            <div class="col-xs-12 col-sm-10 col-md-8">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <p class="input-group">
                                            <label>From</label>
                                            <input type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="searchTerm.dateFromToSearch" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" ng-click="open1()" name="dateFrom" placeholder="MM/DD/YYYY"/>
                                            <span class="input-group-btn" >
                                                <button type="button" class="btn btn-default custom-margin" ng-click="open1()"><i class="glyphicon glyphicon-calendar" ></i></button>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <p class="input-group">
                                            <label>To</label>
                                            <input type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="searchTerm.dateToToSearch" is-open="popup2.opened" datepicker-options="dateOptions" close-text="Close" ng-click="open2()" name="dateTo" placeholder="MM/DD/YYYY"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default custom-margin" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1 col-md-2"></div>
                        </div>
                        <!-- search clear -->
                        <div class="row find-a-job-search">
                            <div class="col-sm-1 col-md-2"></div>
                            <div class="col-xs-12 col-sm-10 col-md-8">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <button class="btn create-your-acc-btn sign-up-btn search-btn-filters pull-right" ng-click="search(searchTerm);" type="submit">
                                            Search
                                        </button>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <button class="btn create-your-acc-btn sign-up-btn search-btn-filters btn-clear" ng-click="reload()" type="submit">
                                            Clear
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-1 col-md-2"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="col-xs-12 col-sm-6">
            <div class="row">
                <h3>Filtered billings list</h3>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div ng-hide="invoices==0 || invoices==null">
                <div class="row">
                    <div class="pull-right">
                        <ul uib-pagination total-items="bill.bigTotalItems" ng-model="bill.bigCurrentPage" max-size="5" class="pagination-sm pagination-header" boundary-link-numbers="true" ng-change="pageChanged()" items-per-page="bill.maxSize">
                        </ul>
                    </div>   
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div>
                <p class='text-muted'>Here you will be shown a live preview of the filtered billings you searched for.</p>
            </div>
        </div>
    </div>
    <div class="filter-in-filters">
        <uib-accordion close-others="true">
            <div ng-repeat="bill in invoices" ng-class="{'col-md-12 margin-bottom-20':true}">
                <div class="row">
                    <div uib-accordion-group class="panel-default" is-open="false" is-disabled="false">
                        <div uib-accordion-heading>
                            <div class="row">
                                <div class="col-xs-12 col-md-2 text-uppercase span-date">
                                    <label class="text-capitalize"><b>From:</b></label>
                                    <span>{{ moment(bill.job.job_start).format('MMM DD') }}</span>
                                    <br>
                                    <label class="text-capitalize"><b>To:</b></label>
                                    <span>{{ moment(bill.job.job_end).format('MMM DD') }}</span>
                                </div>
                                <div class="col-xs-12 col-md-5 span-date">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label><b>Practice name:</b></label>&nbsp<span><b>{{ bill.practice.practice_name }}</b></span>
                                        </div>
                                        <div class="col-xs-12">
                                            <label><b>Locum name:</b></label>&nbsp<span><b>{{ bill.user.name }}</b></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-2 col-md-offset-3">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span class="text-capitalize pull-right span-date">{{ bill.job.total | currency:"$" }}</span>
                                        </div>
                                        <div class="col-xs-12">
                                            <i style="color: #ff8f00; font-size: 25px; margin-right: 20px;" ng-hide="bill.paid_status=='Paid'" class="fa fa-times-circle-o pull-right" aria-hidden="true"></i>
                                            <i style="color: #ff8f00; font-size: 25px; margin-right: 20px;" ng-hide="bill.paid_status=='Not Paid'" class="fa fa-check-circle-o pull-right" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>       
                            </div>
                        </div>
                        <div class="row billing-practice-collaps">
                            <div class="col-xs-12 col-md-7">
                                <div class="col-xs-12">
                                    <h5>Transfer from</h5>
                                </div>
                                <div class="col-xs-12">
                                    <label>{{ bill.practice.practice_name }}</label>
                                </div>
                                <div class="col-xs-12">
                                    <h5>Transaction ID</h5>
                                </div>
                            
                                <div class="col-xs-12">
                                    <label>{{ bill.id }}</label>
                                </div>
                                <div class="col-xs-12">
                                    <a ng-click="requestPDF(bill.id)" style="cursor:pointer; color: #ff8f00; font-size: 17px;">Open the invoice</a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-5" ng-if="bill.job.day_rate!=null">
                                <div class="col-xs-12"><h5>Details:</h5></div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-6"><label>Payment status</label></div>
                                        <div class="col-xs-6 text-right">
                                            <label>{{ bill.paid_status }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-6"><label>Day Rate</label></div>
                                        <div class="col-xs-6 text-right"><label>{{ bill.job.day_rate | currency:"$" }}</label></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-6"><label>Days worked</label></div>
                                        <div class="col-xs-6 text-right"><label>{{ bill.job.totalDays }}</label></div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <hr>
                                </div>
                                <div class="col-xs-6">
                                    <h5>Amount</h5>
                                </div>
                                <div class="col-xs-6">
                                    <h5 class="pull-right">{{ bill.job.total | currency:"$" }}</h5>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-5" ng-if="bill.job.day_rate==null">
                                <div class="col-xs-12"><h5>Details:</h5></div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-6"><label>Payment status</label></div>
                                        <div class="col-xs-6 text-right">
                                            <label>{{ bill.paid_status }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-6"><label>Income</label></div>
                                        <div class="col-xs-6 text-right"><label>{{ bill.job.total | currency:"$" }}</label></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-6"><label>Locum Fee({{ bill.job.percentage }}%)</label></div>
                                        <div class="col-xs-6 text-right"><label>{{ bill.job.locumTotal | currency:"$" }}</label></div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <hr>
                                </div>
                                <div class="col-xs-6">
                                    <h5>Total</h5>
                                </div>
                                <div class="col-xs-6">
                                    <h5 class="pull-right">{{ bill.job.total-bill.job.locumTotal | currency:"$" }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="(invoices==0 || invoices==null) && !showLoader">
                <center>
                    <h3 class="media-heading no-results-found" style="margin-top:50px;">No results found</h3>
                    <div class="my-job-nosearch">
                        <img src="img/nosearch.png">
                    </div>
                </center>
            </div>
            <div class="sk-three-bounce" ng-if="showLoader">
                <div class="sk-child sk-bounce1"></div>
                <div class="sk-child sk-bounce2"></div>
                <div class="sk-child sk-bounce3"></div>
            </div>
        </uib-accordion>
    </div>
</div>
<div ng-include="'/angular/shared/views/practice/footer.blade.html'"></div>
