<div ng-include="'/angular/shared/views/practice/desktop-navigation.blade.html'">
</div>
<div ng-include="'/angular/shared/views/practice/mobile-navigation.blade.html'">
</div>
<div class="container">
    <div class="row create-a-job">
        <div class="col-xs-12">
            <h1 class="title">
                Create a job
            </h1>
        </div>
        <div class="col-xs-12">
            <p>
                Please enter details about your vacancy.
            </p>
        </div>
        <div class="col-xs-12">
            <div class="line">
            </div>
        </div>
        <div class="content">
            <form name="createAJob1Form">
                <div class="col-xs-12">
                    <h2>
                        Title of Job
                    </h2>
                </div>
                <div ng-class="{'has-error': !createAJob1Form.title.$valid}">
                    <div class="col-xs-12">
                        <input name="title" class="form-control edit-media-heading title-admin" name="" ng-model="newJob.title" placeholder="Title" type="text" ng-required="true">
                        </input>
                        <div ng-messages="createAJob1Form.title.$error" role="alert">
                            <div class="text-danger" ng-message="required">Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <h2>
                        Description of Job
                    </h2>
                </div>
                <div ng-class="{'has-error': !createAJob1Form.desc.$valid}">
                    <div class="col-xs-12">
                        <textarea name="desc" class="form-control edit-overview" ng-model="newJob.desc" placeholder="Description" ng-required="true">
                        </textarea>
                        <div ng-messages="createAJob1Form.desc.$error" role="alert">
                            <div class="text-danger" ng-message="required">Required</div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="container">
                <div class="row">
                    <form name="createAJob2Form">
                        <div class="col-xs-12 col-md-5">
                            <h2>
                                Day rate
                            </h2>
                            <p>
                                Enter the Daily Rate in Dollars.
                            </p>
                            <div ng-class="{'has-error': !createAJob2Form.percentage.$valid}">
                                <input name="percentage" class="form-control edit-media-heading title-admin" name="" ng-disabled="newJob.percentage" ng-model="newJob.day_rate" placeholder="$50" type="number" ng-required="!newJob.percentage">
                                </input>
                                <div ng-messages="createAJob2Form.percentage.$error" role="alert">
                                    <div class="text-danger" ng-message="required">Required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <div class="row or-label">
                                <label>Or</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-5">
                            <h2>
                                Percentage
                            </h2>
                            <p>
                                Enter a % of sales generated by the locum.
                            </p>
                            <div ng-class="{'has-error': !createAJob2Form.day_rate.$valid}">
                                <input name="day_rate" class="form-control edit-media-heading title-admin" name="" ng-disabled="newJob.day_rate" ng-model="newJob.percentage" ng-change="check()" placeholder="30%" type="number" ng-required="!newJob.day_rate" ng-maxlength="3" ng-max="100" size="3">
                                </input>
                                <div ng-messages="createAJob2Form.day_rate.$error" role="alert">
                                    <div class="text-danger" ng-message="required">Required</div>
                                    <div class="text-danger" ng-message="maxlength">Only 3 numbers allowed.</div>
                                    <div class="text-danger" ng-message="max">Maximum number of 100 exceeded.</div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <form name="createAJobForm">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-5">
                            <div>
                                <h2>
                                    Application start date
                                </h2>
                                <p>
                                    Enter the date you wish the vacancy to be visible.
                                </p>
                            </div>
                            <div class="date-input" ng-class="{'has-error': !createAJobForm.startDate.$valid, 'row btn-group input-group': true}">
                                <div >
                                    <div class="row btn-group input-group date-input" type="date">
                                        <p class="input-group">
                                          <input type="text" name="startDate" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="newJob.application_start" is-open="popup5.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="MM/DD/YYYY" ng-click="open5()" />
                                          <span class="input-group-btn" >
                                            <button type="button" class="btn btn-default" ng-click="open5()"><i class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                                        </p>
                                    </div>
                                    <div ng-messages="createAJobForm.startDate.$error" role="alert">
                                        <div class="text-danger" ng-message="required">Required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-5 col-md-offset-2">
                            <div>
                                <h2>
                                    Application expire date
                                </h2>
                                <p>
                                    Enter the date you wish the Vacancy to close.
                                </p>
                            </div>
                            <div class="date-input" ng-class="{'has-error': !createAJobForm.endDate.$valid, 'row btn-group input-group': true}">
                                <div>
                                    <div class="row btn-group input-group date-input" type="date">
                                        <p class="input-group">
                                          <input name="endDate" type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="newJob.application_end" is-open="popup6.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="MM/DD/YYYY" ng-click="open6()"/>
                                          <span class="input-group-btn" >
                                            <button type="button" class="btn btn-default" ng-click="open6()"><i class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                                        </p>
                                    </div>
                                    <div ng-messages="createAJobForm.endDate.$error" role="alert">
                                        <div class="text-danger" ng-message="required">Required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-5">
                            <div>
                                <h2>
                                    Job start
                                </h2>
                                <p>
                                    Enter the Vacancy start date.
                                </p>
                            </div>
                            <div class="date-input" ng-class="{'has-error': !createAJobForm.jobStart.$valid, 'row btn-group input-group': true}">
                                <div>
                                    <div class="row btn-group input-group date-input" type="date">
                                        <p class="input-group">
                                          <input name="jobStart" type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="newJob.job_start" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="MM/DD/YYYY" ng-click="open1()"/>
                                          <span class="input-group-btn" >
                                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                                        </p>
                                    </div>
                                    <div ng-messages="createAJobForm.jobStart.$error" role="alert">
                                        <div class="text-danger" ng-message="required">Required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-5 col-md-offset-2">
                            <div>
                                <h2>
                                    Job end
                                </h2>
                                <p>
                                    Enter the Vacancy end date.
                                </p>
                            </div>
                            <div class="date-input" ng-class="{'has-error': !createAJobForm.jobEnd.$valid, 'row btn-group input-group': true}">
                                <div>
                                    <div class="row btn-group input-group date-input" type="date">
                                        <p class="input-group">
                                          <input name="jobEnd" type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="newJob.job_end" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="MM/DD/YYYY" ng-click="open2()"/>
                                          <span class="input-group-btn" >
                                            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                                        </p>
                                    </div>
                                    <div ng-messages="createAJobForm.jobEnd.$error" role="alert">
                                        <div class="text-danger" ng-message="required">Required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-5">
                            <div>
                                <h2>
                                    Working time from
                                </h2>
                                <p>
                                    Enter the Daily start time.
                                </p>
                            </div>
                            <div class="date-input" ng-class="{'has-error': !createAJobForm.timeFrom.$valid, 'row btn-group input-group': true}">
                                <div>
                                    <div class="row btn-group input-group date-input" type="date">
                                        <div class="input-group date datepicker-input" id="datetimepicker5" ng-click="showDate5()">
                                            <span class="input-group-addon" >
                                                <span class="glyphicon glyphicon-time time-input">
                                                </span>
                                            </span>
                                            <input name="timeFrom" class="form-control" style="width: 100% !important" ng-model="newJob.working_time_from" placeholder="From" ng-required="true" id="working-time-from"/>
                                            
                                        </div>
                                        <div ng-messages="createAJobForm.timeFrom.$error" role="alert">
                                            <div class="text-danger" ng-message="required">Required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-5 col-md-offset-2">
                            <div>
                                <h2>
                                    Working time to
                                </h2>
                                <p>
                                    Enter the Daily finish time.
                                </p>
                            </div>
                            <div class="date-input" ng-class="{'has-error': !createAJobForm.timeTo.$valid, 'row btn-group input-group': true}">
                                <div>
                                    <div class="row btn-group input-group date-input" type="date">
                                        <div class="input-group date datepicker-input" id="datetimepicker6" ng-click="showDate6()">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time time-input">
                                                </span>
                                            </span>
                                            <input name="timeTo" class="form-control" style="width: 100% !important" id="working-time-to" ng-model="newJob.working_time_to" placeholder="To" ng-required="true"/>
                                        </div>
                                        <div ng-messages="createAJobForm.timeTo.$error" role="alert">
                                            <div class="text-danger" ng-message="required">Required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </form>
            <div class="col-xs-12 button-create-a-job">
                <button class="btn transitions" ng-click="submitCreateAJob(newJob)" type="button" ng-disabled="!createAJobForm.$valid || !createAJob2Form.$valid">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>
<div ng-include="'/angular/shared/views/practice/footer.blade.html'"></div>
